<%= form_with model: [brand, tea] do |f| %>

<p> If you do not see a specific brand, please make a new brand: </p>

<%= link_to "Create a new brand of tea!", new_brand_path %>

<br><br>

<div>
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>
</div>
<br><br>

<div>
    <%= f.label :type %>
    <%= f.text_field :type %>
</div>

  <br><br>
<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br><br>
</div>

    <%= f.submit %>
<%end%>