<h1> All of the delicious flavors of tea on TeaScape! </h1>
<br><br>
<%= render 'layouts/flash' %>

<%= form_tag teas_path(@tea), method: :get do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Find a Flavor of Tea" %>
<% end %>
<br>

  <% @teas.each do |tea| %>
   <li>
        <%= link_to tea.flavor, tea_path(tea)%> - <%= tea.brand.name %>
    </li>
  <% end %>
<br>
<h2> Don't see a specific flavor of tea?! Make it! </h2>

<%= link_to "Create a new flavor of tea!", new_tea_path %>
