<%= render 'layouts/flash' %>

<h1> Check out this tea: </h1> 
<br>

<p> Brand: <%= @tea.brand.name %></p> 

<p> Flavor: <%= @tea.flavor %></p> 

<p> Description: <%= @tea.description %></p>

<p> Type: <%= @tea.type %></p>

~ created by: <%= @tea.user.email %>

<br><br>
<h3>Reviews:</h3>
<ul>
    <% @reviews.each do |review| %> <br>
        <li>
            <%= review.user.email %> <br> Title: <%= review.title%> | Stars given: <%= review.stars%> | <%= review.text %> 
            <% if review.user_id == current_user.id %>
                <br><%= link_to "edit", edit_review_path(review) %> | <%= link_to "delete", review_path(review), method: :delete %><br> 
            <% end %>
        </li>
    <% end %>
</ul>
<br>
<% if current_user.id == @tea.user_id %>
<%= link_to "Edit this flavor of tea", edit_tea_path(@tea) %><br>
 <%= link_to "Delete this tea", tea_path(@tea), method: :delete %>
<% end %>
<br>
<%= link_to "New Review", new_tea_review_path(@tea) %><br>

 