<h1> Check out this tea </h1>

<p> Brand: <%= @tea.brand.name %></p> 

<p> Flavor: <%= @tea.flavor %></p> 

<p> Description: <%= @tea.description %></p>

<p> Type: <%= @tea.type %></p>

<%= link_to "Edit this flavor of tea", edit_tea_path(@tea) %><br>