<%= render 'layouts/flash' %>

<h1> Check out this tea </h1>

<p> Brand: <%= @tea.brand.name %></p> 

<p> Flavor: <%= @tea.flavor %></p> 

<p> Description: <%= @tea.description %></p>

<p> Type: <%= @tea.type %></p>

<h3>Reviews:</h3>
<ul>
    <% @reviews.each do |review| %> <br>
        <li>
            <%= review.user.email %> <br> Title: <%= review.title%> | Stars given: <%= review.stars%> | <%= review.text %> 
            <% if review.user_id == current_user.id %>
                <br><%= link_to "edit", edit_review_path(review) %>
            <% end %>
        </li>
    <% end %>
</ul>


<%= link_to "Edit this flavor of tea", edit_tea_path(@tea) %><br>

<%= link_to "New Review", new_tea_review_path(@tea) %>