<h1> Check this brand of tea out: </h1>
<br>
<h3>Mmmm... <%= @brand.name %></h3>


<ul>
<% @brand.teas.each do |tea| %>
    <li>
        <%= link_to tea.flavor, tea_path(tea)%> - <%= tea.brand.name %> ~ created by: <%= tea.user.email %> ||
    </li>
<% end %>
</ul>


<% if @brand.user_id == current_user.id %>
<%= link_to "Edit this brand of Tea", edit_brand_path(@brand) %><br>
<% end %>
<%= link_to "Add a tea to this brand!", new_brand_tea_path(@brand) %><br>