<%= render partial: 'layouts/errors', locals: {object: @review}  %>
<%= form_with model: [tea, review] do |f| %>

<br><br>
 <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
<br><br>
  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max:10 %>
  </div>
  <br>
  <br>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text, size: "50x10" %>
  </div>
  <br>



  <%= f.submit %>
<% end %>